.wrapper {
	padding: 25px;
	border-radius: 3px;
	background-color: #ffffff;
}

.tableContainer {
	overflow: auto;
	width: 100%;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.tableHeader {
	font-weight: 500;
	text-align: center;
	background-color: var(--aqua-haze-color);
}

.tableHeader,
.tableCell {
	height: 30px;
	padding: 12px 30px;
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-top: 2px solid var(--aqua-haze-color);
	border-bottom: 2px solid var(--aqua-haze-color);
}

.tableRowItems {
	cursor: auto;
	text-align: center;
}
