.pageContainer {
	max-width: 100%;
}

.headerContainer {
	display: flex;
	margin: 10px 20px;
	align-items: center;
	justify-content: space-between;
	/* background-color: aqua; */
}

@media (min-width: 1024px) {
	.pageContainer {
		max-width: 1200px;
		margin: 100px auto;
	}

	.headerContainer {
		margin-inline: 0;
	}
}
