.pageContainer {
	max-width: 100%;
}

.headerContainer {
	display: flex;
	margin: 10px 20px;
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 1200px) {
	.pageContainer {
		max-width: 80%;
		margin: 70px auto 0;
	}

	.headerContainer {
		margin-inline: 0;
	}
}
